.list-none {
  list-style: none;
}

.space-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.w-full {
  width: 100%;
}

.text-typing {
  color: var(--primary-color);
  font-weight: 600;
}

.fixed {
  position: fixed;
}

/* logo */

.logo-link {
  color: var(--white-color);
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;
  padding: 6px 0;
}

.logo-link::first-letter {
  color: var(--primary-color);
}

/* section */

.section {
  padding: 100px 0;
}

.section-heading {
  position: relative;
  font-size: 1.75rem;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 18px;
  border-bottom: 2px solid var(--border-color);
  width: fit-content;
}

.section-indexing {
  color: var(--primary-color);
  font-size: 1.25rem;
  font-weight: 500;
  position: absolute;
  bottom: -9px;
  right: 10%;
  padding: 0 4px 2px;
  background-color: var(--current-bg);
}

/* label item */

.label-item {
  background-color: var(--primary-color);
  width: fit-content;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(35%, -50%);
}

.label-item::before, .label-item::after {
  content: "";
  border-width: 9px;
  border-style: solid;
  border-right-color: #23849e;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
}

.label-item::before {
  transform: rotate(-45deg);
  top: -9px;
  right: 4px;
}

.label-item::after {
  transform: rotate(45deg);
  bottom: -9px;
  right: 4px;
}


/* vertical line */

.vertical-connector {
  width: 2.5px;
  height: 20px;
  margin-left: 13px;
  background-color: var(--primary-color);
}

/* ripple button */

.ripple-btn {
  font-size: 1rem;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: var(--primary-color);
  padding: 15px 39px;
  border-radius: 24px;
  border: none;
  outline: none;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.ripple-btn:hover {
  cursor: pointer;
}

.ripple {
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-image: linear-gradient(135deg, #319be6 0%, #16c0f0 100%);
  z-index: -1;
  transform: translate(-50%, -50%);
  animation: ripple ease-in-out 0.35s forwards;
}

@keyframes ripple {
  to {
    width: 250%;
    height: 250%;
  }
}


/* modal */

body.modal--open {
  overflow-y: hidden;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none;
}

.modal {
  max-width: 700px;
  margin: 12px;
}

.modal-overlay.modal--open {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fade ease-in-out 0.5s forwards;
}

.modal__image {
  width: 100%;
  max-width: 600px;
  max-height: 600px;
  object-fit: contain;
}

.modal-control {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8px;
}

.modal__prev-btn, .modal__next-btn {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  outline: none;
  color: var(--white-color);
  font-size: 2.5rem;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: transparent;
}

.modal__prev-btn:hover, .modal__next-btn:hover {
  cursor: pointer;
  background-color: rgba(200, 200, 200, 0.7);
}

.modal__prev-btn {
  left: 12px;
}

.modal__next-btn {
  right: 12px;
}


/* badge */

.badge {
  display: flex;
  align-items: center;
  background-image: linear-gradient(135deg, #319be6 0%, var(--primary-color) 100%);
  border-radius: 24px;
  width: fit-content;
  padding-right: 28px;
  font-size: 1rem;
  line-height: 1;
  margin-right: 12px;
  white-space: nowrap;
}

.badge__icon-wrapper {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #00c8ff;
  margin-right: 16px;
}