.loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--black-light-color);
  z-index: 100;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 12px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--header-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 50;
  transition: background-color ease-in-out 0.4s;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0;
}

#mobile-menu-toggler, .menu__toggler {
  display: none;
}

.header__menu .menu__overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 15;
  display: none;
}

.navbar .logo-link {
  display: none;
}

.navbar ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.navbar li:not(:last-child) {
  margin-right: 16px;
}

.navbar li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  padding: 8px 0;
  transition: color linear 0.25s;
  display: block;
}

.navbar li a:hover {
  color: var(--primary-color);
}

.navbar li a.active {
  color: var(--primary-color);
}

/* section home */

.section-home {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section-home__overlay {
  background: radial-gradient(circle at 60% 60%, rgba(0, 0, 0, 0.1) 20%, #000 100%);
  height: 100%;
}

.section-home__content {
  margin-top: 25vh;
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--white-color);
}

.section-home__content-text {
  display: flex;
}

.section-home__content-text .text-typing {
  filter: brightness(1.2);
  margin-left: 6px;
}

.section-home__name {
  font-size: 4rem;
  font-weight: 800;
  margin: 25px 0;
}

#hire-me-btn {
  margin-top: 50px;
}

.section-home__discover-link {
  text-transform: uppercase;
  position: absolute;
  bottom: 72px;
  right: 0;
  text-decoration: none;
  color: white;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  transform: rotate(-90deg);
  padding: 8px 0;
  transition: all linear 0.25s;
}

.section-home__discover-link:hover,
.section-home__discover-link:hover .chevron-double {
  color: var(--primary-color);
}

.section-home__discover-link .chevron-double {
  color: var(--white-color);
  margin-right: 4px;
  animation: bounce ease-in-out 1s infinite;
  transition: all linear 0.25s;
}

.chevron-double svg:first-child {
  margin-right: -6px;
}

@keyframes bounce {
  0%, 100% {
    transform: translate(0);
  }

  50% {
    transform: translate(-50%);
  }
}


/* about section */

.section-about {
  --current-bg: var(--black-light-color);
  background-color: var(--current-bg);
}

.section-about__content {
  display: flex;
  justify-content: space-between;
}

.section-about__image-overlay {
  padding: 8px;
  background-image: linear-gradient(-50deg, rgba(170, 170, 170, 0.1) 45%, transparent 25%);
  box-shadow: 5px 5px 10px rgb(200, 200, 200, 0.1);
  margin-bottom: 30px;
}

.section-about__image {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  transition: all ease-in-out 0.5s;
}

.section-about__image-overlay:hover .section-about__image {
  opacity: 1;
}

.section-about__info {
  color: var(--white-color);
}

.section-about__sub-heading {
  font-size: 1.25rem;
  position: relative;
  width: fit-content;
  padding: 16px 0;
}

.section-about__sub-heading::after {
  content: "";
  border-bottom: 3px solid var(--primary-color);
  width: 38%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.section-about__desc {
  color: var(--text-color);
  line-height: 1.5;
}

.section-about__contact {
  color: var(--text-color);
  background-color: var(--black-dark-color);
  padding: 25px 30px;
  border-radius: 4px;
  position: relative;
  margin-right: 12px;
}

.section-about__contact-info {
  display: flex;
  align-items: center;
}

.section-about__contact-info .section-about__icon-wrapper {
  width: 30px;
  height: 30px;
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: var(--white-color);
}

.section-about__social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 75%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.section-about__social .section-about__social-link {
  text-decoration: none;
  color: var(--white-color);
  padding: 4px 8px;
}

#down-cv-btn {
  margin-top: 25px;
}


/* section services */

.section-services {
  --current-bg: var(--black-dark-color);
  color: var(--white-color);
  background-color: var(--current-bg);
}

.section-services__service {
  background-color: var(--black-light-color);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  position: relative;
  margin-top: 20px;
}

.section-services__service:last-child {
  margin-right: 12px;
}

.section-services__service .service__icon {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  color: var(--primary-color);
}

.section-services__service .service__heading {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.25rem;
}

.section-services__service .service__desc {
  text-align: center;
  color: var(--text-color);
  line-height: 1.5;
  margin: 0;
}

.section-services__service .service__desc-index {
  padding: 12px 4px;
  font-weight: 500;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 31px;
}

.section-services__service .service__desc-index::before,
.section-services__service .service__desc-index::after {
  border-width: 8px;
}

.section-services__service .service__desc-index::before {
  top: -8px;
  right: 3px;
}

.section-services__service .service__desc-index::after {
  bottom: -8px;
  right: 3px;
}


/* section resume */

.section-resume {
  --current-bg: var(--black-light-color);
  color: var(--white-color);
  background-color: var(--current-bg);
  padding-bottom: 0;
}

.section-resume__edu-and-job {
  padding-bottom: 100px;
}

.edu-and-job__heading {
  margin-bottom: 53px;
}

.edu-and-job__milestone {
  padding: 20px;
  box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);
  border: 4px solid #383636;
  margin-bottom: 20px;
}

.edu-and-job__milestone .milestone__heading {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
  margin-left: -72px;
  display: flex;
  align-items: center;
}

.edu-and-job__milestone .milestone__sub-heading {
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--primary-color);
  margin: 15px 0 10px;
}

.edu-and-job__milestone .milestone__desc {
  color: var(--text-color);
  line-height: 1.5;
}

.edu-and-job__milestone-wrapper {
  position: relative;
  z-index: 0;
}

.edu-and-job__milestone-wrapper:first-child {
  margin-left: 50px;
}

.edu-and-job__milestone-connector {
  width: 3px;
  height: 45%;
  background-color: var(--primary-color);
  position: absolute;
  top: 70px;
  left: -25px;
  z-index: -1;
}

.section-resume__my-skills {
  background-color: var(--black-dark-color);
  padding: 100px 0;
}

.my-skills__heading {
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 12px;
  border-bottom: 2px solid var(--border-color);
  text-transform: uppercase;
}

.my-skills__desc-heading {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 0;
}

.my-skills__desc-detail {
  color: var(--text-color);
  line-height: 1.5;
  margin-bottom: 25px;
}

.my-skills__skills {
  user-select: none;
}

.tabs {
  display: flex;
}

.tabs .tab {
  flex: 1;
  padding: 12px;
  color: var(--primary-color);
  background-color: var(--black-light-color);
  text-align: center;
  font-weight: 500;
  white-space: nowrap;
  border-radius: 4px;
}

.tabs .tab.active {
  color: var(--white-color);
  background-color: var(--primary-color);
  position: relative;
}

.tabs .tab.active::after {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent;
  border-top-color: var(--primary-color);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.tabs .tab:hover {
  cursor: pointer;
}

.tabs .tab:not(:first-child) {
  margin-left: 4px;
}

.tab-content .tab-content__list {
  list-style: none;
  background-color: var(--black-light-color);
  padding: 20px 25px;
  border-radius: 4px;
  display: none;
}

.tab-content .tab-content__list.active {
  display: block;
  animation: fade ease-in-out 0.5s forwards;
}

.tab-content__list .tab-content__item {
  display: flex;
  align-items: center;
  background-color: #363638;
  border-radius: 12px;
  position: relative;
  height: 24px;
}

.tab-content__list .tab-content__item:not(:last-child) {
  margin-bottom: 16px;
}

.tab-content__item .progress-bar {
  height: 4px;
  background-color: var(--primary-color);
  width: 0;
  border-radius: 4px;
  transition: width ease-in-out 1.25s;
}

.tab-content__list .progress-percent {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  padding: 4px 60px 4px 16px;
  color: var(--text-color);
  background-color: var(--black-dark-color);
  border-radius: 24px;
  font-size: 0.875rem;
  border: 2px solid var(--primary-color);
}

.tab-content__list .progress-percent .percent {
  padding: 3px 8px;
  font-weight: 500;
  color: #000;
  background-color: var(--primary-color);
  border-radius: 24px;
  position: absolute;
  right: 1px;
  top: 50%;
  transform: translateY(-50%);
}


/* section portfolio */

.section-portfolio {
  --current-bg: var(--black-light-color);
  color: var(--white-color);
  background-color: var(--current-bg);
  padding-bottom: 0;
}

.section-portfolio__project {
  padding-bottom: 100px;
}

.project__filter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 12px;
}

.project__filter .filter__criteria {
  background-color: transparent;
  border: none;
  color: var(--white-color);
  font-weight: 500;
  position: relative;
  padding: 8px 12px;
  transition: all ease-in-out 0.3s;
}

.project__filter .filter__criteria.mixitup-control-active {
  color: var(--primary-color);
}

.project__filter .filter__criteria::after {
  content: "";
  position: absolute;
  height: 2px;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background-color: var(--primary-color);
  width: 0;
  transition: all ease-in-out 0.3s;
}

.project__filter .filter__criteria.mixitup-control-active::after {
  width: 80%;
}

.project__filter .filter__criteria:hover {
  cursor: pointer;
  color: var(--primary-color);
}

.project__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 0;
  margin-top: 30px;
}

.project__item {
  padding-top: 125%;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.project__item:hover {
  cursor: pointer;
}

.project__item .project__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  transition: all ease-in-out 0.6s;
}

.project__item .project__image-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  transform: perspective(700px) rotateY(-90deg);
  transition: all ease-in-out 0.6s;
}

.project__item:hover .project__image {
  transform: rotate(10deg) scale(1.3);
}

.project__item:hover .project__image-overlay {
  transform: perspective(700px) rotateY(0deg);
}

.project__item .project__title {
  font-size: 1.25rem;
  font-weight: 600;
}

.project__item .project__type {
  font-weight: 500;
  color: var(--primary-color);
  background-color: var(--black-dark-color);
  border-radius: 24px;
  position: absolute;
  top: 12px;
  left: 12px;
  padding: 8px 12px;
}

.section-portfolio__achieve-statistic {
  padding: 100px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-portfolio__achieve-statistic .row {
  row-gap: 24px;
}

.achieve-statistic__list {}

.achieve-statistic__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px 0;
  background-color: rgba(54, 53, 59, 0.4);
  border-radius: 4px;
}

.achieve-statistic__item .achieve-statistic__item-heading {
  position: relative;
  margin-bottom: 16px;
  text-transform: capitalize;
}

.achieve-statistic__item .achieve-statistic__item-heading::after {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent;
  border-top-color: #21b0ec;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.achieve-statistic__item .achieve-statistic__number {
  font-size: 1.75rem;
  font-weight: 700;
}

.achieve-statistic__item:not(:last-child) {
  margin-right: 8px;
}

.achieve-statistic__item-heading {
  margin: 0;
}

.section-portfolio__testimonials {
  padding: 100px 0;
  background-color: var(--black-dark-color);
}

.testimonials__heading {
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 12px;
  border-bottom: 2px solid var(--border-color);
  text-transform: uppercase;
}

.slider {
  user-select: none;
  overflow: hidden;
  padding-bottom: 40px;
}

.slider .slider__list {
  list-style: none;
  display: flex;
  padding: 0 10px;
  transition: all linear 0.05s;
}

.slider.draggable .slider__list {
  cursor: grab;
}

.slider .slider__item {
  flex: 0 0 100%;
  padding: 0 24px;
}

.slider .slider__item-wrapper {
  position: relative;
  background-color: var(--black-light-color);
  padding: 50px 40px;
}

.slider__item .slider__item-person-image {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
}

.slider__item .slider__item-quote {
  text-align: center;
  color: var(--text-color);
  position: relative;
}

.slider__item .slider__item-quote p {
  margin: 0;
}

.slider__item-quote-icon--left, .slider__item-quote-icon--right {
  position: absolute;
  padding: 12px;
  background-color: var(--primary-color);
  color: var(--white-color);
}

.slider__item-quote-icon--left {
  left: -40px;
  top: 0;
  transform: translate(-30%, -50%);
}

.slider__item-quote-icon--right {
  right: -40px;
  bottom: 0;
  transform: translate(30%, 50%);
}

.slider__item-quote-icon--left::before, .slider__item-quote-icon--right::before,
.slider__item-quote-icon--left::after, .slider__item-quote-icon--right::after {
  content: "";
  position: absolute;
  border-width: 8px;
  border-color: transparent;
  border-style: solid;
}

.slider__item-quote-icon--left::before {
  top: 0;
  transform: translate(-50%, -50%) rotate(45deg);
  left: 30%;
  border-left-color: #23849e;
}

.slider__item-quote-icon--right::before {
  top: 0;
  transform: translate(50%, -50%) rotate(45deg);
  right: 30%;
  border-top-color: #23849e;
}

.slider__item-quote-icon--left::after {
  bottom: 0;
  left: 30%;
  transform: translate(-50%, 50%) rotate(-45deg);
  border-left-color: #23849e;
}

.slider__item-quote-icon--right::after {
  bottom: 0;
  right: 30%;
  transform: translate(50%, 50%) rotate(-45deg);
  border-bottom-color: #23849e;
}

.slider__item-person {
  text-align: center;
  margin-top: 36px;
}

.slider__item .slider__item-person-name {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 12px 0;
}

.slider__item .slider__item-person-position {
  font-weight: 500;
  color: var(--primary-color);
}

.swiper-pagination .swiper-pagination-bullet {
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: var(--black-light-color);
  padding: 8px;
  position: relative;
}

.swiper-pagination .swiper-pagination-bullet {
  opacity: 1;
  background-color: var(--black-light-color);
  transition: background-color linear 0.2s;
}

.swiper-pagination .swiper-pagination-bullet:not(:last-child) {
  margin-right: 24px;
}

.swiper-pagination .swiper-pagination-bullet:hover {
  background-color: var(--primary-color);
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--primary-color);
}

.swiper-pagination-bullet.swiper-pagination-bullet-active::after {
  content: "";
  position: absolute;
  inset: 0;
  animation: ping 0.8s cubic-bezier(0, 0, 0.2, 1) infinite;
  background-color: var(--primary-color);
  border-radius: 50%;
}


/* section blog */

.section-blog {
  --current-bg: var(--black-light-color);
  background-color: var(--current-bg);
  color: var(--white-color);
}

.section-blog__post-list {
  padding: 0;
  margin-bottom: 0;
  margin-top: 36px;
}

.section-blog__post-list .section-blog__post-item {
  display: flex;
  align-items: center;
  border: 3px solid #383636;
}

.section-blog__post-list .section-blog__post-item:not(:last-child) {
  margin-bottom: 20px;
}

.section-blog__post-item .section-blog__post-image {
  width: 100%;
  height: 270px;
  object-fit: cover;
  object-position: top;
}

.section-blog__post-item .section-blog__post-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.section-blog__post-item .section-blog__post-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--primary-color);
  padding: 20px 15px 10px;
}

.section-blog__post-item .section-blog__post-info {
  display: flex;
  color: var(--text-color);
  font-size: 0.875rem;
  padding: 0 15px;
}

.section-blog__post-info .section-blog__post-created-date {
  margin-right: 16px;
}

.section-blog__post-item .section-blog__post-content {
  padding: 20px 15px;
}

.section-blog__post-item .section-blog__post-footer {
  padding: 20px 15px;
  background-color: var(--black-dark-color);
}

.section-blog__post-footer a {
  color: var(--white-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color linear 0.2s;
}

.section-blog__post-footer a:hover {
  color: var(--primary-color);
}

.section-blog__post-footer a svg {
  margin-left: 8px;
}


/* section contact */

.section-contact {
  --current-bg: var(--black-dark-color);
  background-color: var(--current-bg);
  color: var(--white-color);
}

.section-contact__info {
  padding: 40px 20px;
}

.section-contact__info .section-contact__info-item {
  text-align: center;
  font-weight: 500;
}

.section-contact__info-item .badge {
  width: 100%;
  margin: 16px 0;
  font-weight: 600;
}

.section-contact__info-item .badge span {
  margin: 0 auto;
}

.section-contact__form {
  padding: 40px 20px;
}

.section-contact__form .section-contact__form-group {
  position: relative;
  margin-bottom: 36px;
}

.section-contact__form-group .section-contact__form-label {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  transition: all linear 0.3s;
  color: var(--text-color);
  user-select: none;
  pointer-events: none;
}

.section-contact__form-group .section-contact__form-input {
  width: 100%;
  background-color: transparent;
  padding: 16px 8px;
  outline: none;
  border-color: transparent;
  border-bottom-color: var(--border-color);
  color: var(--white-color);
}

.section-contact__form-input:not(:placeholder-shown)~.section-contact__form-label,
.section-contact__form-input:focus~.section-contact__form-label {
  color: var(--white-color);
  left: 4px;
  top: -12px;
  transform: none;
  font-size: 0.875rem;
}

.section-contact__form-group .section-contact__form-input-border {
  position: absolute;
  bottom: 0;
  width: 0px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: var(--primary-color);
  transition: width linear 0.3s;
}

.section-contact__form-input:focus~.section-contact__form-input-border {
  width: 100%;
}

.section-contact__form .section-contact__form-submit {
  width: 100%;
}


/* footer */

.footer {
  padding: 35px 0;
  background-color: var(--black-light-color);
  text-align: center;
}

.footer .logo-link {
  display: block;
}

.footer__social {
  display: flex;
  justify-content: center;
  margin: 12px 0;
}

.footer__social .footer__social-link {
  color: var(--white-color);
  text-decoration: none;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all ease-in-out 0.3s;
}

.footer__social .footer__social-link:not(:last-child) {
  margin-right: 12px;
}

.footer__social .footer__social-link:hover {
  background-color: var(--primary-color);
}

.footer__copyright {
  color: var(--white-color);
  text-transform: capitalize;
  font-weight: 600;
  font-size: 0.875rem;
}

.footer__copyright a {
  color: var(--primary-color);
  margin: 0 4px;
}


/* scroll top button */

.scroll-top-btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  background-color: var(--primary-color);
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  outline: none;
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  transition: all ease-in-out 0.3s;
  opacity: 0.8;
  z-index: 100;
}

.scroll-top-btn:hover {
  cursor: pointer;
  opacity: 1;
}

.scroll-top-btn.hidden {
  transform: translate(75px, 75px);
}